.calendar-wrapper {
  width: 100%;
  padding: 20px 40px;
}

.calendar-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #3A3A3A;
  gap: 40px;
}

.arrow-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  transition: 0.2s;
}

.arrow-btn:hover {
  background: #ececec;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
  color: #4a4a4a;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0px;
}

.calendar-cell {
  border: 1px solid #e2e2e2;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 6px;
  background: white;
}

.day-number {
  font-size: 14px;
  font-weight: 500;
  color: #555;
}